body {
  background-color: white;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column; 
  align-items: center;   
}

/* Imagen del título */
#tituloCreditos {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
}

#tituloCreditos img {
  width: 350px;
  height: auto;
  image-rendering: pixelated;
}

/* Menú desplegable */
#menu {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 100;
}

#menuButton {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  z-index: 10;
}

#menuButton img {
  width: 60px;
  height: 60px;
  image-rendering: pixelated;
  transition: transform 0.1s ease;
}

#menuButton:hover img {
  transform: scale(1.1);
}

#dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  border: 3px solid white;
  padding: 10px;
  font-family: 'Press Start 2P', cursive, monospace;
  z-index: 10;
  display: none;
  min-width: 150px;
  border-radius: 10px; 
}
#dropdownMenu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  font-size: 12px;
  border-bottom: 1px solid #888; 
}

#dropdownMenu a:hover {
  background-color: black;
  color: cyan;
}

#hackercreditos {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 400px;
  image-rendering: pixelated;
  z-index: 50;
  margin-bottom: 65px;
}

#hackersonido {
  position: fixed; 
  bottom: 100px; 
  right: 10px; 
  width: 325px; 
  image-rendering: pixelated; 
  z-index: 50; 
}

#creditosInfo {
  background-color: black; 
  color: white;
  padding: 20px;
  border: none;
  border-radius: 15px;
  font-family: 'Press Start 2P', cursive, monospace;
  text-align: center;
  width: 700px;
  margin-top: 50px;
  font-size: 10px;
  margin-bottom: 200px;
}

#creditosInfo h2 {
  color: cyan;
  font-size: 20px;
  margin-bottom: 10px;
}

#creditosInfo p {
  color: white;
  font-size: 10px;
  margin: 5px 0;
  letter-spacing: 1px;
}