* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: white;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  display: grid;
  grid-template-rows: 10vh 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main";
  justify-content: center;
  align-items: start;
  justify-items: center;
  /*background-image: url('../images/fondoestadisticas.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
}

/* Imagen del título */
#tituloCreditos {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
}

#tituloCreditos img {
  width: 500px;
  height: auto;
  image-rendering: pixelated;
}

/* Menú desplegable */
#menu {
  position: absolute;
  top: 10px;
  right: 20px;
}

#menuButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  color: black;
  z-index: 10;
}

#dropdownMenu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #eee;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
}

#dropdownMenu a {
  display: block;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
}

#dropdownMenu a:hover {
  background-color: #ccc;
}

#hackercreditos {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 400px;
  image-rendering: pixelated;
  z-index: 50;
}

#estadisticasContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 150px; /* <- aquí puedes aumentar para bajarlos más */
  grid-area: main;
}

.cuadroEstadistica {
  width: 550px;
  height: 450px;
  border: 10px solid 	#2823bc;
  border-radius: 20px; /* ← esquinas redondeadas */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* sombra suave */
  background-color: #2823bc;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.tituloEstadisticas {
  width: 1000px;
}

.tituloEstadisticas img {
  width: 100%;         /* ajusta según lo que te guste más */
  max-height: 120px;
  object-fit: contain;
}