body {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}
/* Imagen del título */
#tituloCreditos {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
}

#tituloCreditos img {
  width: 600px;
  height: auto;
  image-rendering: pixelated;
}

#menu {
  position: absolute;
  top: 50px;
  right: 20px;
}

#menuButton {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  z-index: 10;
}

#menuButton img {
  width: 60px; /* o 24px si querés más chico */
  height: 60px;
  image-rendering: pixelated; /* para mantener estilo retro */
  transition: transform 0.1s ease;
}

#menuButton:hover img {
  transform: scale(1.1);
}

#dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  border: 3px solid white;
  padding: 10px;
  font-family: 'Press Start 2P', cursive, monospace;
  z-index: 10;
  display: none;
  min-width: 150px;
  border-radius: 10px; /* ← Esto redondea los bordes */
}
#dropdownMenu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  font-size: 12px;
  border-bottom: 1px solid #888; /* línea divisoria estilo pixelado */
}

#dropdownMenu a:hover {
  background-color: black;
  color: cyan; /* color llamativo al pasar el mouse */
}


#hackercreditos {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 400px;
  image-rendering: pixelated;
  z-index: 50;
}

#estadisticasContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px; /* <- aquí puedes aumentar para bajarlos más */
  grid-area: main;
}

.cuadroEstadistica {
  width: 550px;
  height: 500px;
  border: 10px solid 	#2823bc;
  border-radius: 20px; /* ← esquinas redondeadas */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* sombra suave */
  background-color: #2823bc;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.tituloEstadisticas {
  width: 1000px;
}

.tituloEstadisticas img {
  width: 100%;         /* ajusta según lo que te guste más */
  max-height: 120px;
  object-fit: contain;
}

.tituloEstadisticas p {
  font-family: 'Press Start 2P', cursive, monospace;
  color: white;
  font-size: 12px;
  padding: 10px;
}

#grafica {
  width: 100%;
  background-color: #2823bc; /* Fondo azul para toda la sección */
  padding: 40px 0; /* Espaciado arriba y abajo */
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  margin-top: 70px;
  margin-bottom: 0px;
}

#imagengraficas {
  margin-top: 5px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#imagengraficas img {
  width: 400px;   
  height: auto;
  image-rendering: pixelated;  
}